[Unit]
Description=Bind Cooler Master PSU hwmon driver
After=systemd-modules-load.service local-fs.target

[Service]
Type=oneshot
ExecStart=/root/coolermaster-psu/bind-coolermaster-psu.sh
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
